<!doctype html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>
      Results
    </title>
  </head>
  <body>
<div class = "text">
    <p><%= "#{@countryname}:" %></p>
    <p><%= "Population: #{@thecountry.answer[0]}" %></p>
    <p><%= "Official language: #{@thecountry.answer[1]}" %></p>
    <p><%= "Capital: #{@thecountry.answer[2]}" %></p>
    <p><%= "Currency: #{@thecountry.answer[3]}" %></p>
    </div>
  </body>
</html>